<!--Click On any Panel--> 


html
  body
    .boxs
      .box.box1
        p Hey
        p No
        p One Save You
      .box.box2
        p Give
        p One
        p Chance
      .box.box3
        p Only You
        p Can
        p Save Yourself
      .box.box4
        p No one
        p Save
        p You 
      .box.box5
        p Only
        p You
        p Can...
